.navbar-light{
    background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: 000 !important;
}

.navbar-brand span{
	color:  #5383d3 !important;
} 

.navbar-nav li :hover{
    color:#000000;
    font-weight: bold;
    border-bottom: 2px solid;
    border-bottom-color: #708090 !important;
    border-bottom-width: 2px;
       }