<section id="showcase2">
    <div class="container">
        <div class="navanim">
            <navbar></navbar>
        </div>
        <div class="row showcase2">
            <div class="col-md-6 col-sm-6">
                <div class="showcase2-left">
                    <h1 class="box-effect box-effect2">Booking Details</h1>
                    <br>
                    <form>
                        <div class="form-group">
                            <label>Pickup Location</label>
                            <div class="input-group">
                                <input type="text" id="pickLocation" class="form-control" placeholder="Enter your Location">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" ng-click="myLocation()">
                                        <i class="fa fa-location-arrow"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group btnanim">
                            <label>Destination Location</label>
                            <input type="text" id="dropLocation" class="form-control" id="destination" placeholder="Enter your Destination">
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="micro">
                                    <span>Micro</span>
                                </div>
                                <div class="mini">
                                    <span>Mini</span>
                                </div>
                                <div class="prime">
                                    <span>Prime</span>
                                </div>
                                <div class="sedan">
                                    <span>Sedan</span>
                                </div>
                                <div class="suv">
                                    <span>SUV</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button" ng-click="estimate()" class="btn btn-lg btn-outline-primary showcase-btn book-now">Book Now</button> &nbsp;
                        <button type="button" ng-click="estimate()" class="btn btn-lg btn-outline-primary showcase-btn book-later">Book Later</button>
                        <br>
                        <br>
                        <button type="button" ng-click="estimate()" class="btn btn-lg btn-outline-dark showcase-btn">Get estimate</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="showcase2-right">
                    <h1 class="box-effect box-effect2">Track your Booking</h1>
                    <br>
                    <!-- Google Map -->
                    <div class="box-effect box-effect2">
                        <div id="map" ng-init="initMap()">

                        </div>
                    </div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span>
                        <br>
                        <span id="place-address"></span>
                    </div>
                    <br>
                    <div id="infoPanel">
                        <b>Marker status:</b>
                        <div id="markerStatus">
                            <i>Click and drag the marker.</i>
                        </div>
                        <b>Current position:</b>
                        <div id="info"></div>
                        <b>Closest matching address:</b>
                        <div id="address"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footanim2">
        <my-footer class="footer"></my-footer>
    </div>
</section>

<!-- ScrollReveal -->
<script>
    window.sr = ScrollReveal();
    sr.reveal('.navanim', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
    sr.reveal('.showcase2-left', {
        duration: 2000,
        origin: 'top',
        distance: '300px'
    });
    sr.reveal('.showcase2-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.input-group-btn button', {
        duration: 2000,
        delay: 2000,
        origin: 'top',
        distance: '100px'
    });
    sr.reveal('.btn-outline-dark', {
        duration: 2000,
        delay: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.footanim2', {
        duration: 2000,
        origin: 'bottom',
        viewFactor: 0.2
    });
    sr.reveal('.box-effect2', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
</script>