<div class="container">
    <div id="navanim">
        <navbar></navbar>
    </div>
    <div class="row">
        <div class="box-effect box-effect2 change-password-box col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>

                <!-- change password -->
                <div class="change-password col-md-6 col-sm-6 box-effect box-effect2 slide-right">
                    <div class="row">
                        <div class="col">
                            <span class="heading">
                                <h1>Change Password</h1>
                            </span>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Old-Password" ng-model="oldPassword">
                                <i class="fa fa-key input-group-addon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="New-Password" ng-model="newPassword">
                                <i class="fa fa-key input-group-addon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Confirm-Password" ng-model="confirmPassword">
                                <i class="fa fa-key input-group-addon"></i>
                            </div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Remember me
                            </label>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="button" ng-click="changePassword()" class="btn btn-outline-warning btn-lg">Change Password</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>
</div>




<div class="footanim2">
    <my-footer class="footer"></my-footer>
</div>

<script>
    window.sr = ScrollReveal();
    sr.reveal('#navanim', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
    sr.reveal('.footanim2', {
        duration: 2000,
        origin: 'bottom',
        viewFactor: 0.2
    });
    sr.reveal('.slide-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.slide-left', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
</script>