<section id="showcase">
    <div class="container">
        <navbar></navbar>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="showcase-left">
                    <img src="../client/public/images/jeep.png" alt="Car Image">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="showcase-right">
                    <h1>Welcome To Book My Ride</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, non. Corporis rem, quas, ut laudantium
                        distinctio hic fuga architecto ipsa eius quod officiis consequuntur. Magni quos quae praesentium
                        quo excepturi necessitatibus? Asperiores maiores, dolor nesciunt illum eum possimus rem perspiciatis!</p>
                </div>
                <br>
                <button type="button" class="btn btn-lg btn-outline-dark showcase-btn">Book a Ride</button>
            </div>
        </div>
    </div>
</section>