body{
    font-family: Raleway;
        }
.showcase2{
    margin-top: 60px;
}
#showcase2 h1{
     font-size: 24px;
     color: white;
}
.showcase2-left h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    background-color: #708090;
}
.showcase2-right h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    background-color: rgba(0, 0,0, 0.9);
}
.btn-secondary{
    background-color: #708090 !important;
}
.input-group-btn :hover{
    cursor: pointer;
  }
  .showcase-btn{
    cursor: pointer;
  }
  #map {
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

/* Box Effect */
.box-effect
{box-shadow: 0 6px 16px 0 #708090;
}

/* CSS for Micro  */
.micro {
    margin-left: 20px;
    background-image: url(../images/micro.png);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.micro span {
    display: inline-block;
    margin-top: 25px;
   }
   .micro:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

/* CSS for Mini */
.mini {
    margin-left: 20px;
    background-image: url(../images/mini.svg);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.mini span {
    margin-top: 25px;
    display: inline-block;
   }
   .mini:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

/* CSS for Prime */
.prime {
    margin-left: 20px;
    background-image: url(../images/prime.png);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.prime span {
    margin-top: 25px;
    display: inline-block;
   }
   .prime:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

/* CSS for Sedan */
.sedan {
    margin-left: 20px;
    background-image: url(../images/sedan.png);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.sedan span {
    margin-top: 25px;
    display: inline-block;
   }
   .sedan:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

/* CSS for SUV */
.suv {
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    background-image: url(../images/suv.svg);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}
.suv span {
    display: inline-block;
    margin-top: 25px;
   }
   .suv:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.book-later{margin-left: 10px;}

.est-distance,.est-time,.est-fare{border-radius: 5px;
text-align: center;
max-width: 150px;
margin-left: 10px;
background-color: #ffbb33;
color: white;}

.estimate-details h5{margin-top: 5px;}
