
.change-password-box {
    margin-top: 50px;
    border-radius: 5px;
    padding-bottom: 70px;
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .change-password{background-color: rgba(0, 0, 0, 0.9);
        color: white;
        margin-top: 80px;
        border-radius: 5px;
       }

       .change-password h1 {
        color: white;
        padding: 20px 0 20px 0;                        
      }