.showcase4{
    margin-top: 40px;
}
#showcase4 h1{
     font-size: 20px;
     color: white;
}
.showcase4-left h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    background-color: #880e4f;
    color: white;
    font-size: 24px;
}
.showcase4-right h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    background-color: rgba(0, 0,0, 0.9);
    color: white;
    font-size: 24px;
}

.current-booking{
    max-width: 500px;
}
.current-position{
    max-width: 500px;
    margin-left: 20px;
}
 #client-pickup,#client-name,#client-number {
    color: red;
    font-size: 24px;
}


.map-2 {
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

.current-booking h2 {
    
}

.client-pickup,.client-name,.client-number{border-radius: 5px;
    text-align: center;
    max-width: 150px;
    margin-left: 10px;
    background-color: #1C2331;
    color: white;}
    
    .booking-details h5{margin-top: 5px;}