
.box-container{background-color:black;
               background: url(../images/taxi1.jpg);
               background-repeat: no-repeat;
               background-size: cover;
               border-radius: 5px;
               }

.driver-box{background-color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
            margin-top: 30px;
            margin-bottom: 30px;
            }

.driver-box h1{color: white;
               padding: 10px;
              }

.profile-pic i, span{font-size: 32px;}