
.box-container{background-color:black;
               background: url(../images/taxi2.jpg);
               background-repeat: no-repeat;
               background-size: cover;
               border-radius: 5px;
               }

.container-box-2{
               background-color: #7283a7;
               /* background: url(../images/taxi1.jpg); */
               background-repeat: no-repeat;
               background-size: cover;
               border-radius: 5px;
               }

.table-driver{
             color: white;  
             }

.showcase-driver{
                margin-top: 30px;
                margin-bottom: 30px;
                }
.showcase-driver h1{
                 text-align: center;
                 padding: 20px 0 20px 0;
                 border-radius: 5px;
                 background-color: #45526e; 
                 color: white;
                 }

.driver-box{background-color: rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 40px;
            }

.driver-box h1{color: white;
               padding: 10px;
              }

.profile-pic span{font-size: 23px; margin-top: 60px;}
                    
.profile-pic i {font-size: 22px; margin-top: 40px;}    

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}
.thumb{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float:left;
}

.profile-pic {
    background-image: url(../images/profilepic1.jpg);
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 40px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
   }

   .custom-file-input{height: 60px; width: 100px;border-radius: 50%;
cursor: pointer;}

.cab-box{
    margin-left: 15px;
    margin-top:30px; 
    height: 715px;
    border-radius:5px;
    background-color: rgba(	28, 42, 72, 0.9);
}
#cab-heading{
    color: white;
    margin-top: 40px;
    margin-left: 110px;
}

.cab-box input{max-width: 400px}

