 .form-group input {width: 500px;}
 .input-group {width: 500px;}
 .form-group .btn-lg {width: 500px;
cursor: pointer;}
 .terms p{color: white;
text-align: center;
padding: 10px;
font-size: 12px; 
margin-top: 10px; 
margin-left: 10px;
width: 500px;
      }
 .btn-sm { 
    margin-top: 30px;
    margin-left: 200px;
    cursor: pointer;
     }
  
 .sign-up h1 {
              color: white;
              padding: 20px 0 20px 0;                        
            }
 .log-in h1 {
                color: white;
                padding: 20px 0 20px 0;                        
              }
          
 .sign-up {background-color: rgba(0, 0, 0, 0.9);
           color: white;
            margin-top: 80px;
            border-radius: 5px;
            }

 .log-in{background-color: rgba(0, 0, 0, 0.9);
         color: white;
         margin-top: 80px;
         border-radius: 5px;
        }

 .login-box {
   background-color:black;
   background: url(../images/taxi2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   padding-bottom: 70px;
   }